* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(120deg, #e0c25f, #ee937a); */
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?technology");
}

.container {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto 1rem;
  justify-content: center;
}

header {
  font-size: 1rem;
  margin: 1rem;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  max-width: 60%;
  padding: 0.3rem 0.5rem;
  font-size: 2rem;
  border: none;
  outline: none;
  background: #fff;
}

form button {
  color: #ffffff;
  background: #db5a37;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #fff;
  color: #e9572f;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.todo-list {
  min-width: 30%;
  width: 100%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn,
.completed-btn {
  background: #ff0202;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed-btn {
  background-color: rgb(25, 196, 39);
}

.delete-btn:hover {
  background-color: #c00606;
}

.completed-btn:hover {
  background-color: #0b810b;
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.container-input {
  max-width: 20%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ee937a;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
}

.select::after {
  width: 10%;
  height: 100%;
  content: "\25BC";
  position: absolute;
  background: #d85835;
  top: 0;
  right: 0;
  padding: 0.2rem;
  pointer-events: none;
  transition: all 1s ease;
}

.select:hover::after {
  background: #fff;
  color: #cc431e;
  transform: rotateX(180deg);
  height: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  text-align: center;
}

footer a p{
  transition: all 1s ease;
  text-align: center;
  color: white;
}

footer a p:hover{
  color: rgb(0, 255, 0);

}
